.nav__section2{
    position: relative;
    width:100%;
    height:auto;    
}

.nav__section2__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    margin-left:230px;
}

.nav__section2__lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    list-style: none;
}

.nav__section2__list__link{
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(102, 99, 99);
}

.nav__section2__list input{
    border:none;
    outline: none;
    height:25px;
    width:200px;
    border-radius:5px;
    background-color: rgb(102, 99, 99);
}

.nav__section2__list input:focus{
    background-color: white;
}

@media only screen and (max-width:970px){
    .nav__section2__content{  
        padding: 20px 35px;
        margin-left:150px;
    }
}

@media only screen and (max-width:750px){
    .nav__section2__content{  
        padding: 20px 25px;
        margin-left:0;
        padding-top:70px;
    }
    .nav__section2__lists{
        justify-content:flex-end;
        gap:0;
    }
    .nav__section2__list__profilelink{
        display: none;
    }
}

@media only screen and (max-width:500px){
    .nav__section2__list input{
        display: none;
    }
}