.panel_section{
    position: relative;
    width:100vw;
    min-width:300px;
    height:100vh;
    min-height:600px;
   /* background-color: #141414;
   background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    
    background-image: linear-gradient(to right top, #000000, #060505, #0c0a0b, #100e11, #131215, #191727, #181d3b, #082450, #002d7c, #0035a8, #0039d4, #0037ff); background-image: linear-gradient(to right top, #000000, #020202, #040304, #060506, #080708, #110b14, #15101e, #131528, #151b3d, #152052, #152668, #142b7f);background-image: linear-gradient(to right top, #1a1717, #1a1718, #1a1719, #1a171a, #19171b, #1b1820, #1b1a26, #191c2c, #1b1f38, #1e2143, #23234f, #2a245a);*/
    
    background-image: linear-gradient(32deg, #141414 53%, #3853e7 100%);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel_wrapper{
    position: relative;
    width:100%;
    max-width:450px;
    height:auto;
    margin:0 15px;
    

}
.panel_title{
    color:rgb(80, 135, 255);
    font-size:clamp(1.6rem,4.5vw,2.3rem);
    margin: 0 0 20px 0;
}


.panel_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.labels{
    font-size: clamp(0.85rem,2vw,1rem);
    align-self: flex-start;
    color:white;

    margin-bottom:3px;
}

.input{
    width:100%;
    height:22px;
    
    margin-bottom:5px;
    padding-left:10px;

    border:none;
    outline:none;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);
}


.btn-wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top:10px;
}

.btn-wrapper button{
    font-size:0.97rem;
    color:white;
    padding:5px 15px;

    border:none;
    border-radius:5px;

    background-color: rgb(74, 64, 214);
}

.btn-wrapper span{
    color:white;
    font-size: 0.65rem;
    text-align: right;
}

.btn-wrapper span a{
    color:white;
    margin-left:3px;
}

.err{
    color:rgb(161, 40, 40);
    width:100%;
    font-size: 0.9rem;
    margin-bottom:8px;
}

.success{
    color:rgb(146, 253, 146);
}

