#roleupdatesection{
    position: relative;
    width:100vw;
    height: 100vh;

    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

#roleupdatebox{
    position: relative;
    width:350px;
    height:150px;
    background-color: rgb(70, 70, 70);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border:1px solid black;
}

#roleupdatebox #tittle{
    margin-bottom:15px;
    color:rgb(142, 21, 255);
}

#roleupdatebox #rinputs{
    margin-bottom: 15px;
}

#rinputs input{
    margin:0 6px;
}

#rinputs #admin{
    margin-left: 25px;
}

#rinputs label{
    color:white;
}

#rbtns button{
    border-radius: 5px;
    outline: none;
    border:none;

   
    padding:5px 20px;
    color:white;
}

#save{
    box-shadow: none;
}