.sportsdetail__container{
    position: relative;
    width:100%;
    height:auto;
}


table{
    width:700px;
    border-top: 3px solid;
    border-left: 2px solid;
    border-color: rgb(255, 160, 17);
    border-radius: 10px;
    background-color: white;
    margin:auto;
}
