.seasons__container {
    position: relative;
    width: 100%;
    height:auto;
    border:1px solid red;
}

.seasons__upper__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seasons__poster{
    min-width:200px;
    min-height: 250px;
    background-color: white;
}

.seasons__details{
    
}


