.activate_email_wrapper{
    position: relative;
    background-color: rgb(27, 25, 25);
    width:100vw;
    height:100vh; 
    min-width:300px;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.scs{
    font-size: 1rem;
    color:rgb(146, 253, 146);
}