.banner__section {
    width: 85%;
    height: 350px;

    border-radius: 20px;

    display: flex;
    align-items: flex-end;
    
}

.banner__content {
    width: 100%;
    height: auto;
    padding: 0 20px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.5);
}

.banner__top__content,
.banner__bottom__content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:13px 0;
}

.banner__top__content{
    gap:25px;
}
.movie__title {
    /*1.5rem*/
    font-size: clamp(1rem,3.5vw,1.5rem);
    font-weight: 900;
    color: rgb(225, 225, 225);
    line-height:.8;
    font-family: 'Red Hat Display', sans-serif;
}

.movie__content__lists {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    
}

.starring__names{
    display: flex;
    gap:5px;
}

.movie__content__lists .list, .movie__content__lists .starring__names .list {
    /*.8rem*/
    font-size: clamp(0.55rem,1.8vw,0.8rem);
    font-weight: 400;
    color: rgb(252, 252, 252);
    font-family: 'Jost', sans-serif;
}



.banner__bottom__content .movie__desc {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    font-size: clamp(0.5rem,1.5vw,0.8rem);
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

.banner__bottom__content button {
    display: inline-block;
    outline: none;
    border: none;
    background-color: rgb(231, 31, 31);
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.3);
    font-family: 'Prompt', sans-serif;
}


@media only screen and (max-width:970px) {
    .banner__section {
        height: 300px;
    }

    .banner__content {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        gap:10px;    
    }

    .banner__top__content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:5px;
    }

    .banner__bottom__content{
        justify-content: flex-end;
    }

    .banner__bottom__content .movie__desc{
        display:none; 
    }
    
    .banner__bottom__content button {
        font-size: 0.8rem;
        display: block;
        width:100px;
        height: 25px;
        line-height:1;
        /* padding: 5px 6px; */
    }

}

@media only screen and (max-width:750px) {
    .banner__section {
        height: 250px;
    }


    .banner__bottom__content button {
        font-size: 0.7rem;
        width:90px;
        height:23px;
    }

}

@media only screen and (max-width:500px) {
    .banner__section {
        height: 200px;
    }

    .banner__content{
        padding:0 10px;
    }

    .banner__top__content, .banner__bottom__content{
        margin:8px 0;
        
    }

    .starring__names{
        flex-direction: column;
        gap:0;
    }

    
    
    .banner__bottom__content button {
        font-size: 0.6rem;
        width:80px;
        height:20px;
    }
}